@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");

* {
  margin: 2px;
}

body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(to right, #444cf7 1px, #e5e5f7 1px);
  background-size: 20px 20px;
  text-align: center;
  font-family: "Heebo", sans-serif;
}

.containers {
  text-align: center;
  margin: 0;
}

#addBtn {
  color: navy;
  background-color: lightblue;
  border-color: royalblue;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  justify-content: right;
}

button.remove {
  color: navy;
  background-color: lightblue;
}

h1 {
  color: navy;
  font-weight: bold;
  font-size: 35px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3 {
  color: navy;
  font-weight: bold;
  font-size: 30px;
}

.books {
  color: red;
}

#bookList {
  width: 70%;
  border: solid red 2px;
  margin: 32px 184px 20px;
}

.text {
  display: flex;
  flex-direction: column;
}
